@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&family=Oxygen:wght@300;400;700&display=swap');

body{
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

.wrapper{
  max-width: 1380px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Oxygen', sans-serif;
  margin: 0;
}

h1{
  font-size: 32px;
}

a{
  text-decoration: none;
  color: black;
  white-space: nowrap;
}

button{
  font-family: 'Noto Sans JP';
  font-weight: 500;
  cursor: pointer;
  border-radius: 8px;
}