.menu{
  background: url(../../../images/index/bg.jpg);
  background-size: cover;
}

.menu__content{
  padding-top: 90px;
  padding-bottom: 58px;
}

.menu__window{
  max-width: 1145px;
  margin-left: 93px;
  border-radius: 0 0 15px 15px;
}

.menu__header{
  display: flex;
  text-align: center;
}

.menu__header-link{
  display: block;
  padding: 1rem 0;
  border-radius: 15px 15px 0 0;
  background: rgba(255, 255, 255, 0.5);
  width: 185px;

}

.menu__header-link.menu__header-link_active{
  background: rgba(255, 255, 255, 0.8);
}

.menu__body{
  background: rgba(255, 255, 255, 0.8);
  border-radius: 0 0 15px 15px;
}